//-
  ack-array(
    #aArray = "AckArray"
    "[array$]" = "FamilyApp.Data.users$"
  )

.fa.fa-spinner.fa-spin.fa-lg(
  *ngIf="FamilyApp.Data.loadCounts.users"
  "[@fadeInOutUp]" = "1"
)

.flex-wrap.child-pad.child-margin
  .flex1.radius-5.bg-white.text-dark.flex-wrap.child-pad(
    *ngFor="let item of FamilyApp.Data.users$ | async"
  )
    .form-group
      label
        strong name
      .form-control-static
        |{{ item.name }}
    .form-group
      label
        strong email
      .form-control-static
        |{{ item.email }}
    .form-group
      label
        strong uid
      .form-control-static
        |{{ item.uid }}
