.pad
  //-
    h1
      i.fas.fa-thermometer
      |&nbsp;&nbsp;This Apps Stats

.pad
  .code-sample.radius-5.margin-0(
    [innerHtml]="changelog | safeHtml"
  )
br

div(
  *ngIf="appSizeChart"
  "[@fadeInOutUp]" = "1"
)
  div(
    #ewm = "ElementWidthModel"
    "[(elementWidthModel)]" = "width"
  )

  div(
    "[style.display]" = "ewm.inChange ? 'none' : 'block'"
    "[style.width.px]"="width"
  )
    iframe(
      src = "/stats.html"
      "[attr.width]"     = "width"
      "[style.width.px]" = "width"
      height = "800"
      frameBorder = "0"
    )

.flex.pad
  a.flex-1.pad-v.radius-5.bg-positive.flex-valign-center(
    "(click)" = "appSizeChart=!appSizeChart"
  )
    i.fas.fa-chart-pie.pad-h
    strong.flex-1.text-center
      |app size chart
    i.fas.fa-chart-pie.pad-h.invisible
