<ack-modal *ngIf="cameraModal">
  <div class="pad bg-grey-2x radius-10">
    <a class="pos-rel block overflow-hidden height-200 width-200" *ngIf="!takePhoto.supported"
      (take-photo)="url=$event.url;osFilePath=$event.osFilePath">
      <ack-webcam class="pos-abs block" #webcam="" (click)="processCamPhoto(webcam);cameraModal=false"
        style="top:-17%;left:-17%;" [style.height.px]="200*1.37" [style.width.px]="200*1.37"></ack-webcam>
    </a>
    <div class="pad"><a class="text-white bg-positive block pad-sm radius-5 text-center" #takePhoto="TakePhoto"
        (take-photo)="url=$event.url;osFilePath=$event.osFilePath"
        (click)="takePhoto.supported || processCamPhoto(webcam) || cameraModal=false"><i
          class="fas fa-camera"></i></a></div>
  </div>
</ack-modal>
<ack-modal *ngIf="modal" (close)="modal = null"><img class="width-full"
    [src]="srcBase + modal.photo.uid + '.'+modal.photo.fileExt | ngfbStorageUrl | async" />
  <ng-container *ngIf="modal.allow.delete"><a class="pad bg-assertive block text-white text-center"
      (click)="delete.emit( modal.photo );modal = null">delete</a></ng-container>
</ack-modal>
<ack-array #a="AckArray" [array$]="photos$" [idKeys]="['uid']" merge="true"></ack-array>
<div class="flex-center flex-wrap child-margin-sm">
  <a class="text-center bg-white" *ngFor="let item of a.array"
    (click)="view.emit(modal={photo:item,allow:{delete:false}})">
    <div class="pad">
      <div class="height-100 overflow-hidden flex-valign-center"><img class="width-100"
          [src]="srcBase+item.uid+'-thumbs/200.'+item.fileExt | ngfbStorageUrl | async" /></div>
    </div>
    <div class="text-dark text-xs pad-h">
      <div class="max-width-100 text-overflow">{{item.addedByUser?.name || '?'}}</div>
    </div>
  </a><a class="pad text-center bg-balanced flex-valign-center flex-center width-100" ngfDrop="" multiple="yes"
    (filesChange)="addFiles.emit($event)" selectable="1" accept="image/*" maxSize="14000000"
    [ngClass]="{'bg-energized':validFileHover}" [class.bg-assertive]="invalidFileHover" [(validDrag)]="validFileHover"
    [(invalidDrag)]="invalidFileHover" [(lastInvalids)]="lastInvalids" [(lastBaseUrl)]="tempIconDataUrl"><i
      class="fas fa-file-image fa-2x"></i></a><a
    class="flex-valign-center flex-center bg-grey text-center bg-positive pad width-100" (click)="cameraModal = true"><i
      class="fas fa-camera fa-2x"></i></a></div>