
<div class="flex-center">
  <div class="max-width-900">
    <div>
      <div class="pad-h-2x"><br/>
        <div class="flex-wrap"><a class="text-white text-underline" href="mailto:me@AckerApple.com?subject=Found your resume web app">me@AckerApple.com</a><span class="nowrap"> of Coconut Creek, FL</span></div><br/><br/>
        <h2 class="margin-bottom-0">OBJECTIVE:</h2>
        <div class="flex">
          <div style="width:10%"></div>
          <div class="max-width-700 pad-right-2x">
            <p class="text-justify">To apply my advanced knowledge and experience in software engineering at a stimulating and rewarding organization. To work with a team where my skills can be effectively utilized to improve the operations, reliability and efficiency of a company.</p>
          </div>
        </div><br/>
        <h2 class="margin-bottom-0">PASSION:</h2>
        <div class="flex">
          <div style="width:10%"></div>
          <div class="max-width-700 pad-right-2x">
            <p class="text-justify">I maintain popular open source code packages for several different programming platforms. My publicly available code receives free quality assurance by adopters whom report problems and issue updates. This has led to communications and collaborations with other advanced developers from all over the world, which has been a very enriching enjoyable experience that I want to continue to develop.</p>
          </div>
        </div><br/>
        <h2 class="margin-bottom-0">QUALIFICATIONS:</h2>
        <div class="flex">
          <div style="width:10%"></div>
          <div class="max-width-700 pad-right-2x">
            <style>
              .logo-reflect{
                -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
              }
              
            </style>
            <p class="text-justify">Extremely well experienced with trouble-shooting and rooting out the cause of programmatic bugs and issues by using investigation techniques by applying relative knowledge to separate the symptoms of an issue from the actual cause. Highly detail oriented; analytical; and have an in-depth knowledge of information management. On the job experience of implementing highly scaleable applications.</p><br/>
            <div class="flex-wrap flex-apart"><img class="logo-reflect" src="assets/images/logos/favicon-32x32.png"/><img class="logo-reflect" src="assets/images/logos/firebase-32x32.png"/><img class="logo-reflect" src="assets/images/logos/github-32x32.ico"/><img class="logo-reflect" src="assets/images/logos/mongodb-32x32.ico"/><img class="logo-reflect" src="assets/images/logos/npm-32x32.png"/></div><br/>
            <p><i>Specific Technical Knowledge Includes, but not limited to:</i></p>
            <ul class="pad-left">
              <li>NodeJs <span class="opacity-60">(very proficient)</span></li>
              <ul class="pad-left">
                <li>Packages used: Sequelize; Loopback; Webpack; Pug / Jade; TypeScript; Express</li>
                <li>Packages created: path-reader, pdf-cli-wrap, ack-x</li>
              </ul>
              <li>Database Technologies:</li>
              <ul class="pad-left">
                <li>MS SQL, MySQL, MongoDB, Oracle, and Postgres</li>
              </ul>
              <li>Front-end Technologies:</li>
              <ul class="pad-left">
                <li>Angular <span class="opacity-60">(very proficient)</span></li>
                <ul class="pad-left">
                  <li>Packages created: angular-file, agm-overlays, stripe-angular, ack-angular-fx</li>
                </ul>
                <li>HTML, CSS, SASS, TypeScript, Javascript</li>
                <ul class="pad-left">
                  <li>Web Workers</li>
                  <li>Cordova, Ionic, PhoneGap</li>
                  <li>native-scripting <span class="opacity-60">(known lightly)</span></li>
                </ul>
              </ul>
              <li>Third Party Software:</li>
              <ul class="pad-left">
                <li>Twilio, Firebase, Tableau, Github, NPM, Amazon Web Services</li>
                <li>Payment Gateways: Stripe, FirstData, Auth.net</li>
              </ul>
              <li>Java <span class="opacity-60">(known fairly well)</span></li>
              <ul class="pad-left">
                <li>I maintain a few PDFBox related packages</li>
              </ul>
              <li>XML / SOAP / WDDX</li>
              <li>Versioning Systems Used</li>
              <ul class="pad-left">
                <li>GIT, Subversion (SVN), Source Safe, Concurrent Versioning System (CVS)</li>
              </ul>
            </ul>
          </div>
        </div><br/>
        <h2 class="margin-bottom-0">RESOUCES:</h2>
        <div class="flex">
          <div style="width:10%"></div>
          <div class="max-width-700 pad-right-2x">
            <li><a class="text-white" href="https://www.npmjs.com/~ackerapple">npmjs.com/~ackerapple</a></li>
            <ul>
              <li>Where my Open Source software is made available to public</li>
            </ul>
            <li><a class="text-white" href="https://npm-stat.com/charts.html?author=ackerapple">NPM stats</a></li>
            <ul>
              <li>How often my open source packages are being downloaded</li>
            </ul>
            <li><a class="text-white" href="https://github.com/AckerApple">Github Account</a></li>
            <ul>
              <li>Where I team up with other Open Source programmers</li>
            </ul>
            <li><a class="text-white" href="https://www.youtube.com/channel/UCRCKyvCAnSjVSJoRfdySfjg">YouTube Channel</a></li>
            <ul>
              <li>Videos of my hobbies</li>
              <li>Playlists of music, entertainment, and wisdom I like</li>
            </ul>
          </div>
        </div>
      </div><br/>
    </div>
    <div class="margin-2x pad text-4x"><a class="block radius-10 no-a-style pad bg-positive text-white text-center hover-bg-positive hover-text-white" target="_blank" href="https://ackerapple.com/assets/Acker Apple Resume.pdf"><i class="fas fa-file-pdf"></i>&nbsp;Download PDF Resume</a></div>
  </div>
</div>