.flex-center
  .max-width-900
    div
      .pad-h-2x
        //-h1.margin-bottom-0 Resume Highlights
        br
        .flex-wrap
          a.text-white.text-underline(
            href="mailto:me@AckerApple.com?subject=Found your resume web app"
          ) me@AckerApple.com

          span.nowrap  of Coconut Creek, FL

        br
        br

        h2.margin-bottom-0 OBJECTIVE:
        .flex
          div(style="width:10%")
          .max-width-700.pad-right-2x
            p.text-justify To apply my advanced knowledge and experience in software engineering at a stimulating and rewarding organization. To work with a team where my skills can be effectively utilized to improve the operations, reliability and efficiency of a company.

        br

        h2.margin-bottom-0 PASSION:
        .flex
          div(style="width:10%")
          .max-width-700.pad-right-2x
            p.text-justify I maintain popular open source code packages for several different programming platforms. My publicly available code receives free quality assurance by adopters whom report problems and issue updates. This has led to communications and collaborations with other advanced developers from all over the world, which has been a very enriching enjoyable experience that I want to continue to develop.
        
        br

        h2.margin-bottom-0 QUALIFICATIONS:
        .flex
          div(style="width:10%")
          .max-width-700.pad-right-2x
            style.
              .logo-reflect{
                -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
              }

            p.text-justify Extremely well experienced with trouble-shooting and rooting out the cause of programmatic bugs and issues by using investigation techniques by applying relative knowledge to separate the symptoms of an issue from the actual cause. Highly detail oriented; analytical; and have an in-depth knowledge of information management. On the job experience of implementing highly scaleable applications.


            br
            .flex-wrap.flex-apart
              img.logo-reflect(src="assets/images/logos/favicon-32x32.png")
              img.logo-reflect(src="assets/images/logos/firebase-32x32.png")
              img.logo-reflect(src="assets/images/logos/github-32x32.ico")
              img.logo-reflect(src="assets/images/logos/mongodb-32x32.ico")
              img.logo-reflect(src="assets/images/logos/npm-32x32.png")

            br
            p
              i Specific Technical Knowledge Includes, but not limited to:
            ul.pad-left
              li NodeJs #[span.opacity-60 (very proficient)]
              ul.pad-left
                li Packages used: Sequelize; Loopback; Webpack; Pug / Jade; TypeScript; Express
                li Packages created: path-reader, pdf-cli-wrap, ack-x
              li Database Technologies:
              ul.pad-left
                li MS SQL, MySQL, MongoDB, Oracle, and Postgres
              li Front-end Technologies:
              ul.pad-left
                li Angular #[span.opacity-60 (very proficient)]
                ul.pad-left
                  li Packages created: angular-file, agm-overlays, stripe-angular, ack-angular-fx
                li HTML, CSS, SASS, TypeScript, Javascript
                ul.pad-left
                  li Web Workers
                  li Cordova, Ionic, PhoneGap
                  li native-scripting #[span.opacity-60 (known lightly)]
              li Third Party Software:
              ul.pad-left
                li Twilio, Firebase, Tableau, Github, NPM, Amazon Web Services
                li Payment Gateways: Stripe, FirstData, Auth.net
              li Java #[span.opacity-60 (known fairly well)]
              ul.pad-left
                li I maintain a few PDFBox related packages
              li XML / SOAP / WDDX
              li Versioning Systems Used
              ul.pad-left
                li GIT, Subversion (SVN), Source Safe, Concurrent Versioning System (CVS)
       
        br

        h2.margin-bottom-0 RESOUCES:
        .flex
          div(style="width:10%")
          .max-width-700.pad-right-2x
            li
              a.text-white(href="https://www.npmjs.com/~ackerapple") npmjs.com/~ackerapple
            ul
              li Where my Open Source software is made available to public
            li
              a.text-white(href="https://npm-stat.com/charts.html?author=ackerapple") NPM stats
            ul
              li How often my open source packages are being downloaded
            li
              a.text-white(href="https://github.com/AckerApple") Github Account
            ul
              li Where I team up with other Open Source programmers
            li
              a.text-white(href="https://www.youtube.com/channel/UCRCKyvCAnSjVSJoRfdySfjg") YouTube Channel
            ul
              li Videos of my hobbies
              li Playlists of music, entertainment, and wisdom I like

      br
    .margin-2x.pad.text-4x
      a.block.radius-10.no-a-style.pad.bg-positive.text-white.text-center.hover-bg-positive.hover-text-white(
        target = "_blank"
        href="https://ackerapple.com/assets/Acker Apple Resume.pdf"
      )
        i.fas.fa-file-pdf
        |&nbsp;Download PDF Resume