fx-tracker(
  #fx = "FxTracker"
  "[activatedRoute]" = "fx.loaded && outlet.activated ? outlet.activatedRoute : null"
)

ng-container(
  "[(htmlWidthModel)]"="AppData.width"
)

ack-fixed-element-stage

route-reporter(#router="RouteReporter")
.height-full.flex-stacked.flex-1(
  id="top" name="top"
  "(swipeleft)" = "AppData.navAhead()"
  "(swiperight)" = "AppData.navBack()"
)
  .height-50
    .top-0.pos-fixed.bg-positive.text-white.width-full.border-bottom.border-grey-5x(
      style="z-index:2"
    )
      //-ios only, space from time bar
      .height-20(
        *ngIf="AppData.environment.platform==='ios'"
      )

      .flex-valign-center.pad-right.pad-left-xs.height-50
        a.pos-abs(
          *ngIf="router.activated?.routeConfig?.path"
          "[routerLink]"="AppData.RouteHistory.back || '../'"
        )
          i.fas.fa-arrow-circle-left.fa-2x.text-white
        .flex-1.text-center.pad-h-3x.text-3x.text-overflow
          i("[ngClass]"="router.activated?.routeConfig?.data?.icon")
          |&nbsp;{{ router.activated?.routeConfig?.data?.title }}

    //-chrome above color coverage
    .pos-fixed.bg-positive.height-70.width-full(
      style="top:-70px;z-index:1"
    )
      |&nbsp;

  .main-outlet.pos-rel.pos-abs-kids.flex-1.flex-grow-router-outlet.text-white(
    "[ngClass]" = "{'overflow-hidden':fx.inFx}"
    "[@slideInOutLeftKids]"    = "{value:fx.id,params:{time:'250ms'}}"
    "(@slideInOutLeftKids.start)" = "fx.inFx=true"
    "(@slideInOutLeftKids.done)"  = "fx.delayOutFx()"
  )
    router-outlet(#outlet="outlet")

  div(*ngIf="AppData.debug")
    debug-area
      debug-item(
        name = "environment"
        "[value]" = "AppData.environment"
      )
      debug-item(
        name = "routeHistory"
        "[value]" = "AppData.RouteHistory.routeHistory"
      )

  ng-container(
    "[(screenScrollModelY)]" = "screenScrollModelY"
  )
  .pos-fixed.bottom-0.right-0.pad-xxs(
    *ngIf="screenScrollModelY > 200"
    goto-top = ""
  )
    a.fa-2x.fas.fa-arrow-circle-up.text-white.opacity-half(
      "[@fadeInUp]" = "screenScrollModelY > 200"
      "[@fadeOutDown]" = "screenScrollModelY < 200"
    )