ng-container(
  "[(htmlWidthModel)]"="AppData.width"
)

//-chrome above color coverage
//-
  .pos-fixed.bg-dark.height-70.width-full(
    style="left:0;top:-70px;z-index:1"
  )
    |&nbsp;


ack-app-stage.block.height-full.width-full(
  *ngIf = "AppData.loaded"
  id="top" name="top"
  "[@fadeInOutUp]" = "1"
  "[debug]" = "AppData.debug"
  "[debugs]" = "{environment:AppData.environment}"
  "(swipeleft)" = "swiping && AppData.navAhead()"
  "(swiperight)" = "swiping && AppData.navBack()"
)
  ng-template(#headerPrepend="")
    div(
      "[style.height.px]"="AppData.environment.platform==='ios' ? 20 : null"
    )
  
  ng-template(#headerAppend="")
    ng-container(*ngFor="let directives of AppData.headerTemplates.directives")
      ng-container(*ngFor="let append of directives.appends")
        .flex
          ng-container(*ngTemplateOutlet="append")


//-scroll to top
ng-container(
  "[(screenScrollModelY)]" = "screenScrollModelY"
)
.pos-fixed.bottom-0.right-0.pad-xxs(
  *ngIf="screenScrollModelY > 200"
  goto-top = ""
)
  a.fa-2x.fas.fa-arrow-circle-up.text-white.opacity-half(
    "[@fadeInUp]" = "screenScrollModelY > 200"
    "[@fadeOutDown]" = "screenScrollModelY < 200"
  )