ack-modal(
  *ngIf="shows.showMoreInfo"
  "(close)" = "shows.showMoreInfo=false"
  backgroundColor = "rgba(3,3,3,.7)"
)
  .pad.radius-5.max-width-500(
    style="border:1px rgba(3,3,3,.7) solid;background-color:#EEE"
  )
    family-more-info

.flex-center
  .text-center.max-width-600.flex-1
    h1.margin-top-0.text-assertive
      i.fas.fa-cloud-upload-alt
      |&nbsp;Our Family,
      |&nbsp;
      span.nowrap Our Cloud

    .flex-center.flex-valign-center.pad-h
      .text-left
        .flex.child-pad-xs
          div
            .margin-top-xxs.bg-assertive.text-dark.radius-half.width-20.height-20.flex-valign-center.flex-center
              |1
          .text-justify
            |Are you in the family or a personal friend of Acker?

        .flex.child-pad-xs
          div
            .margin-top-xxs.bg-assertive.text-dark.radius-half.width-20.height-20.flex-valign-center.flex-center
              |2
          .text-justify
            |Would you like to share on our closed circuit platform?

        .flex.child-pad-xs
          div
            .margin-top-xxs.bg-assertive.text-dark.radius-half.width-20.height-20.flex-valign-center.flex-center
              |3
          .text-justify
            |Do you think you would appreciate a social platform void of distracting comments, likes, view counts?

        .flex.child-pad-xs
          div
            .margin-top-xxs.bg-assertive.text-dark.radius-half.width-20.height-20.flex-valign-center.flex-center
              |4
          .text-justify
            |You can read a lot more #[a.underline("(click)"="shows.showMoreInfo=true") about it here]
    br
    .flex-wrap.child-pad.child-margin-1.flex-wrap
      a.flex1.block.bg-assertive.text-white.no-a-style(
        routerLink = "/family"
      )
        strong
          |Goto Family Login
          |&nbsp;
          i.fas.fa-chevron-right
      br
      a.flex1.block.bg-positive.text-white.no-a-style(
        routerLink = "../../"
      )
        strong
          |Skip
          |&nbsp;
          i.fas.fa-chevron-right
    br