.flex-center
  .width-full.flex-1.pad-v-2x(
    style="max-width:280px"
  )
    br
    audio.width-full(controls)
      source(src="assets/audio/LifePageAudio.mp3" type="audio/mpeg")
      |Your device does not support audio elements.
br
br


.pad-h.text-center.flex-evenly.flex-wrap.child-margin
  .flex-1.pad.border.border-grey-4x.radius-5.flex-stacked.bg-white
    .pad.flex-1.flex-valign-center.flex-center
      div
        i.fas.fa-male.fa-4x.text-calm
        |&nbsp;
        i.fas.fa-female.fa-4x(
          style="color:#FF6666;"
        )
        |&nbsp;
        i.fas.fa-child.fa-3x.text-positive
        |&nbsp;
        i.fas.fa-child.fa-3x.text-positive
    .bg-grey-4x.pad.text-black.radius-5
      strong Family of Four
      .text-xs
        |Acker, Shelby, Jordi, and Ryker
  
  .flex-1.pad.border.border-grey-4x.radius-5.flex-stacked.bg-white
    .pad.flex-1
      img.width-full.max-width-200(
        src="assets/images/florida.png"
      )
    .bg-grey-4x.pad.text-black.radius-5
      strong Florida Grown
      .text-xs
        div 27th state on March 3, 1845
  
  .flex-1.pad.border.border-grey-4x.radius-5.flex-stacked.bg-white
    .pad.flex-1.flex-valign-center.flex-center
      div
        i.fas.fa-baby.fa-5x.text-energized
    .bg-grey-4x.pad.text-black.radius-5
      strong Alive {{ aliveFor.years }} Years
      .text-xs
        strong {{ aliveFor.months }}
        |month{{ aliveFor.months | endNumberWord }}
        |&nbsp;
        strong {{ aliveFor.weeks }}
        |week{{ aliveFor.weeks | endNumberWord }}
        |&nbsp;
        strong {{ aliveFor.days }}
        |day{{ aliveFor.days | endNumberWord}}
      .text-xxs
        strong {{ aliveFor.hours }}
        |hour{{ aliveFor.hours | endNumberWord }}
        |&nbsp;
        strong {{ aliveFor.minutes }}
        |min{{ aliveFor.minutes | endNumberWord }}.
        |&nbsp;
        strong {{ aliveFor.seconds }}
        |sec{{ aliveFor.seconds | endNumberWord }}.
  
  .flex-1.pad.border.border-grey-4x.radius-5.flex-stacked.bg-white
    .pad.flex-1.flex-valign-center.flex-center
      .text-balanced
        i.fas.fa-birthday-cake.fa-4x
    .bg-grey-4x.pad.text-black.radius-5
      strong Next Birthday {{ nextB | date : 'shortDate' }}
      .text-xs
        strong {{ nextBday.months }}
        |month{{ nextBday.months | endNumberWord }}
        |&nbsp;
        strong {{ nextBday.weeks }}
        |week{{ nextBday.weeks | endNumberWord}}
        |&nbsp;
        strong {{ nextBday.days }}
        |day{{ nextBday.days | endNumberWord}}
      .text-xxs
        strong {{ nextBday.hours }}
        |hour{{ nextBday.hours | endNumberWord}}
        |&nbsp;
        strong {{ nextBday.minutes }}
        |min{{ nextBday.minutes | endNumberWord }}.
        |&nbsp;
        strong {{ nextBday.seconds }}
        |sec{{ nextBday.seconds | endNumberWord }}.
  
  .flex-1.pad.border.border-grey-4x.radius-5.flex-stacked.bg-white
    .pad.flex-1.flex-valign-center.flex-center
      div
        i.fas.fa-kiss-wink-heart.fa-4x.text-assertive
        i.fas.fa-kiss-wink-heart.fa-4x.fa-flip-horizontal.text-assertive
    .bg-grey-4x.pad.text-black.radius-5
      strong Married {{ marriedFor.years }} Years
      .text-xs
        strong {{ marriedFor.months }}
        |month{{ marriedFor.months | endNumberWord }}
        |&nbsp;
        strong {{ marriedFor.weeks }}
        |week{{ marriedFor.weeks | endNumberWord}}
        |&nbsp;
        strong {{ marriedFor.days }}
        |day{{ marriedFor.days | endNumberWord}}
      .text-xxs
        strong {{ marriedFor.hours }}
        |hour{{ marriedFor.hours | endNumberWord}}
        |&nbsp;
        strong {{ marriedFor.minutes }}
        |min{{ marriedFor.minutes | endNumberWord }}.
        |&nbsp;
        strong {{ marriedFor.seconds }}
        |sec{{ marriedFor.seconds | endNumberWord }}.

  .flex-1.pad.border.border-grey-4x.radius-5.flex-stacked.bg-white
    .pad.flex-1.flex-valign-center.flex-center
      div
        i.fas.fa-graduation-cap.fa-4x.text-royal
    .bg-grey-4x.pad.text-black.radius-5
      strong Graduated {{ graduated.years }} Years
      .text-xs
        strong {{ graduated.months }}
        |month{{ graduated.months | endNumberWord }}
        |&nbsp;
        strong {{ graduated.weeks }}
        |week{{ graduated.weeks | endNumberWord}}
        |&nbsp;
        strong {{ graduated.days }}
        |day{{ graduated.days | endNumberWord}} ago
      .text-xxs
        |from Coral Springs High
        //-
          strong {{ graduated.hours }}
          |hour{{ graduated.hours | endNumberWord}}
          |&nbsp;
          strong {{ graduated.minutes }}
          |min{{ graduated.minutes | endNumberWord }}.
          |&nbsp;
          strong {{ graduated.seconds }}
          |sec{{ graduated.seconds | endNumberWord }}.
