//-  "[activatedRoute]" = "fx.loaded && outlet.activated ? outlet.activatedRoute : null"
fx-tracker(
  #fx = "FxTracker"
  "[orderArray]" = "['welcome','purpose','family']"
  "[activatedRoute]" = "fx.loaded && activatedRoute.firstChild || activatedRoute"
)

route-reporter(
  "(routeChange)"="makeNextLink()"
)

table.height-full.width-full(
  cellPadding="0" cellSpacing="0" border="0"
  "(swipeleft)" = "runSwipeLeft(fx)"
  "(swiperight)" = "runSwipeRight(fx)"
)
  tbody
    tr
      td.height-full.pos-rel.text-white(
        valign = "top"
        "[ngClass]" = "{'overflow-hidden pos-abs-kids height-full-router-wrap':fx.inFx}"
        "[@slideInOutLeftKids]"    = "{value:fx.id, params:{time:'250ms'}}"
        "(@slideInOutLeftKids.start)" = "fx.inFx=true"
        "(@slideInOutLeftKids.done)"  = "fx.delayOutFx()"
      )
        router-outlet(#outlet="outlet")

    tr
      td
        .text-center.pad-smx
          a.inline-block.bg-stable.pad-xs.text-dark.radius-5.pad-h-4x.bolder(
            "(click)"="continueByTracker(fx)"
          )
            |CONTINUE&nbsp;&nbsp;
            span.fas.fa-chevron-circle-right

        .text-white.opacity-half
          .child-pad-h-sm.flex-valign-center.flex-center
            a.fa-circle.no-a-style(
              routerLink = "welcome"
              "[ngClass]" = "activatedRoute.firstChild.routeConfig.path==='welcome' ? 'far' : 'fas'"
            )
            a.fa-circle.no-a-style(
              routerLink = "purpose"
              "[ngClass]" = "activatedRoute.firstChild.routeConfig.path==='purpose' ? 'far' : 'fas'"
            )
            a.fa-circle.no-a-style(
              routerLink = "family"
              "[ngClass]" = "activatedRoute.firstChild.routeConfig.path==='family' ? 'far' : 'fas'"
            )
            .pad-top-xxs
              a.no-a-style.fas.fa-caret-right.fa-lg(
                "[routerLink]" = "nextLink"
              )
          .text-xxs.text-center.pad-top-xs
            strong (swipe to navigate)
            br
            br