
<div class="flex-center text-white">
  <div class="flex-1 pad max-width-700">
    <div class="flex-center flex-wrap">
      <div class="flex-1">
        <h2 class="flex-valign-center"><i class="fas fa-female fa-lg" style="color:#FF6666;"></i>&nbsp;My Wife is a TEN</h2>
        <p>On a scale of <strong>1-to-wife</strong>, here is how I rate my other passions</p>
      </div>
      <div class="width-full flex-1 pad-v-2x" style="max-width:280px">
        <div class="text-center text-xs opacity-half">hear about my passions while reading</div>
        <audio class="width-full" controls="controls">
          <source src="assets/audio/Passions.mp3" type="audio/mpeg"/>Your device does not support audio elements.
        </audio>
      </div>
    </div>
    <div class="opacity-half"><i class="fas fa-hand-pointer pad-right-xs"></i><span class="text-xs">Tap any item below for more</span></div>
    <div class="flex-wrap child-pad"><a class="flex1 min-width-300" *ngFor="let item of passions;let index=index" (mouseover)="mouseover=index" (mouseout)="mouseover=null">
        <ng-container #showDetails="var" [var]="false"></ng-container>
        <div class="radius-10" (click)="showDetails.var=!showDetails.var" [ngClass]="{'bg-warning text-black':showDetails.var}">
          <div>
            <div class="pos-rel">
              <div class="pos-abs top-0 right-0 pad-right-xs"><i class="fas fa-info-circle opacity-half"></i></div>
            </div>
            <div class="animate__animated animate__fast" [class.animate__pulse]="mouseover===index">
              <ack-meter-display>
                <ack-meter [percent]="item.rating * 10" [meterClass]="item.colorClass">
                  <ng-template #meterLabel=""><strong>{{item.rating}}</strong></ng-template>
                </ack-meter>
              </ack-meter-display>
              <div class="text-center text-smx">{{item.title}}</div>
            </div>
          </div>
          <div *ngIf="showDetails.var" [@fadeInOutUp]="1">
            <div class="text-justify pad-2x text-sm" style="white-space:pre-wrap;">
              <div class="pad-top-xs">{{ item.details }}</div>
            </div>
          </div>
        </div></a></div>
  </div>
</div>