//- https://npm-stat.com/charts.html?author=ackerapple
.flex-center
  .max-width-900.border-h.border-grey-3x
    .flex-center
      .pad.text-4x
        a.block.no-a-style.pad.border-2.border-positive.text-positive.text-center.hover-bg-positive.hover-text-white(
          href="/assets/Acker Apple Resume.pdf"
        )
          |Download the Resume of Acker Dawn Apple
    .pad-h-2x
      h1 The Highlights of Acker Apple

      h2.margin-bottom-0 OBJECTIVE:
      .flex
        div(style="width:20%")
        .max-width-700
          p To apply my advanced knowledge and experience in software engineering at a stimulating and rewarding organization. To work with a team where my skills can be effectively utilized to improve the operations, reliability and efficiency of a company.

      br

      h2.margin-bottom-0 PASSION:
      .flex
        div(style="width:20%")
        .max-width-700
          p I maintain popular open source code packages for several different programming platforms. My publicly available code receives free quality assurance by adopters whom report problems and issue updates. This has led to communications and collaborations with other advanced developers from all over the world, which has been a very enriching enjoyable experience that I want to continue to develop.
      
      br

      h2.margin-bottom-0 QUALIFICATIONS:
      .flex
        div(style="width:20%")
        .max-width-700
          style.
            .logo-reflect{
              -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
            }

          p Extremely well experienced with trouble-shooting and rooting out the cause of programmatic bugs and issues by using investigation techniques by applying relative knowledge to separate the symptoms of an issue from the actual cause. Highly detail oriented; analytical; and have an in-depth knowledge of information management. On the job experience of implementing highly scaleable applications.

          .flex-wrap.flex-apart
            img.logo-reflect(src="/assets/images/logos/favicon-32x32.png")
            img.logo-reflect(src="/assets/images/logos/firebase-32x32.png")
            img.logo-reflect(src="/assets/images/logos/github-32x32.ico")
            img.logo-reflect(src="/assets/images/logos/mongodb-32x32.ico")
            img.logo-reflect(src="/assets/images/logos/npm-32x32.png")

          p
            i Specific Technical Knowledge Includes, but not limited to:
          ul
            li NodeJs #[span.opacity-60 (very proficient)]
            ul
              li Packages used: Sequelize; Loopback; Webpack; Pug / Jade; TypeScript; Express
              li Packages created: path-reader, pdf-cli-wrap, ack-x
            li Database Technologies
            ul
              li MS SQL #[span.opacity-60 (very proficient)]
              li MySQL #[span.opacity-60 (very proficient)]
              li MongoDB #[span.opacity-60 (known very well)]
              li Oracle #[span.opacity-60 (known very well)]
              li Postgres #[span.opacity-60 (known well)]
            li Front-end Technologies
            ul
              li Angular #[span.opacity-60 (very proficient)]
              ul
                li Packages created: angular-file, agm-overlays, stripe-angular, ack-angular-fx
              li SASS #[span.opacity-60 (known well)]
              li DHTML ( HTML / CSS / JAVASCRIPT )
              ul
                li Web Workers
                li Web-apps
                ul
                  li Cordova #[span.opacity-60 (known very well)]
                  li Ionic #[span.opacity-60 (known well)]
                  li PhoneGap #[span.opacity-60 (known well)]
                  li native-scripting #[span.opacity-60 (known lightly)]
            li Third Party Software
            ul
              li Twilio
              li Firebase
              li Tableau
              li Github
              li NPM
              li Amazon Web Services
              li Payment Gateways
              ul
                li Stripe, FirstData, Auth.net
            li Java #[span.opacity-60 (known fairly well)]
            ul
              li Know Maven well
              li I maintain a few PDFBox related packages
              li PDF document management specialist
            li XML / SOAP / WDDX
            li Versioning Systems Used
            ul
              li GIT, Subversion (SVN), Source Safe, Concurrent Versioning System (CVS)