
<div class="flex-wrap child-margin-v"><a class="flex1 pad bg-balanced text-center" [share-button]="{url:'https://ackerapple.com', message:'Presentation site of South Florida software engineer Acker Apple

', subject:'Check out this software engineer'}"><strong>Share AckerApple.com</strong></a><a class="flex1 pad bg-balanced text-center" [share-button]="{files:[AppData.wwwBasePath + '/assets/images/profile-72@2x.png'], message:'Presentation site of South Florida software engineer Acker Apple

', subject:'Check out this software engineer'}"><img src="/assets/images/profile-72@2x.png" width="40" height="40"/>
    <div><strong>share photo</strong></div></a></div>