.flex-wrap.child-margin-v
  a.flex1.pad.bg-balanced.text-center(
    "[share-button]" = "{url:'https://ackerapple.com', message:'Presentation site of South Florida software engineer Acker Apple\n\n', subject:'Check out this software engineer'}"
  )
    strong Share AckerApple.com


  a.flex1.pad.bg-balanced.text-center(
    "[share-button]" = "{files:[AppData.wwwBasePath + '/assets/images/profile-72@2x.png'], message:'Presentation site of South Florida software engineer Acker Apple\n\n', subject:'Check out this software engineer'}"
  )
    img(
      src="/assets/images/profile-72@2x.png"
      width="40" height="40"
    )
    div
      strong share photo
