.flex-center
  .text-center.max-width-600.flex-1
    h1.margin-0
      .inline-block.animate__fast.animate__animated.animate__bounce.animate__delay-1s.text-energized Learn,
      |&nbsp;
      .inline-block.animate__fast.animate__animated.animate__bounce.animate__delay-2s.text-calm Entertain,
      |&nbsp;
      .inline-block.animate__fast.animate__animated.animate__bounce.animate__delay-3s.nowrap.text-assertive & Share

    .child-pad
      .inline-block.fa-2x.animate__fast.animate__delay-1s.animate__animated.animate__bounce.text-energized
        i.fas.fa-book-reader
      .inline-block.fa-2x.animate__fast.animate__delay-2s.animate__animated.animate__bounce.text-calm
        i.fas.fa-laugh-beam
      .inline-block.fa-2x.animate__fast.animate__delay-3s.animate__animated.animate__bounce.text-assertive
        i.fas.fa-cloud-upload-alt

    .flex-center.flex-valign-center.pad-h
      .text-left.child-pad-v
        .flex.child-pad-xs
          div.text-energized.animate__fast.animate__delay-1s.animate__animated.animate__bounce.text-energized
            i.fas.fa-circle.fa-xs
          .text-justify
            |I wanted to share my life, spread my passions, and help my future.
            strong &nbsp;I made this app.
        .flex.child-pad-xs
          div.text-calm.animate__fast.animate__delay-2s.animate__animated.animate__bounce.text-calm
            i.fas.fa-circle.fa-xs
          .text-justify
            |My desires wanted me to create something unique, something fun to use, and something with lasting value.
            strong &nbsp;I made this app.
        .flex.child-pad-xs
          div.text-assertive.animate__fast.animate__delay-3s.animate__animated.animate__bounce.text-assertive
            i.fas.fa-circle.fa-xs
          .text-justify
            |I wanted to give my family and friends a sharing portal they can trust because it was built by me using technologies I trust.
            br
            strong &nbsp;And then I built the Acker Apple app.
