.text-center
  h1.margin-0
    .inline-block.fast.animated.bounce.delay-1s.text-energized Learn,
    |&nbsp;
    .inline-block.fast.animated.bounce.delay-2s.text-calm Entertain,
    |&nbsp;
    .inline-block.fast.animated.bounce.delay-3s.nowrap.text-assertive & Perserve
  
  .child-pad
    .inline-block.fa-2x.fast.delay-1s.animated.bounce.text-energized
      i.fas.fa-book-reader
    .inline-block.fa-2x.fast.delay-2s.animated.bounce.text-calm
      i.fas.fa-laugh-beam
    .inline-block.fa-2x.fast.delay-3s.animated.bounce.text-assertive
      i.fas.fa-cloud-upload-alt
  
  .flex-center.flex-valign-center.pad-h
    .text-left
      .flex.child-pad-xs
        div.text-energized.fast.delay-1s.animated.bounce.text-energized
          i.fas.fa-circle.fa-xs
        .text-justify
          |I wanted to share my life, spread my passions, and help my future.
          strong &nbsp;I made this app.
      .flex.child-pad-xs
        div.text-calm.fast.delay-2s.animated.bounce.text-calm
          i.fas.fa-circle.fa-xs
        .text-justify 
          |My desires wanted to create something unique, fun to use, and something with lasting value.
          strong &nbsp;I made this app.
      .flex.child-pad-xs
        div.text-assertive.fast.delay-3s.animated.bounce.text-assertive
          i.fas.fa-circle.fa-xs
        .text-justify
          |Give my family a portal that they can share and trust because it was built by me.
          strong &nbsp;I built the Acker Apple app.
