
<div class="flex-center">
  <div class="text-center max-width-600 flex-1">
    <h1 class="margin-0">
      <div class="inline-block animate__fast animate__animated animate__bounce animate__delay-1s text-energized">Learn,</div>&nbsp;
      <div class="inline-block animate__fast animate__animated animate__bounce animate__delay-2s text-calm">Entertain,</div>&nbsp;
      <div class="inline-block animate__fast animate__animated animate__bounce animate__delay-3s nowrap text-assertive">& Share</div>
    </h1>
    <div class="child-pad">
      <div class="inline-block fa-2x animate__fast animate__delay-1s animate__animated animate__bounce text-energized"><i class="fas fa-book-reader"></i></div>
      <div class="inline-block fa-2x animate__fast animate__delay-2s animate__animated animate__bounce text-calm"><i class="fas fa-laugh-beam"></i></div>
      <div class="inline-block fa-2x animate__fast animate__delay-3s animate__animated animate__bounce text-assertive"><i class="fas fa-cloud-upload-alt"></i></div>
    </div>
    <div class="flex-center flex-valign-center pad-h">
      <div class="text-left child-pad-v">
        <div class="flex child-pad-xs">
          <div class="text-energized animate__fast animate__delay-1s animate__animated animate__bounce text-energized"><i class="fas fa-circle fa-xs"></i></div>
          <div class="text-justify">I wanted to share my life, spread my passions, and help my future.<strong>&nbsp;I made this app.</strong></div>
        </div>
        <div class="flex child-pad-xs">
          <div class="text-calm animate__fast animate__delay-2s animate__animated animate__bounce text-calm"><i class="fas fa-circle fa-xs"></i></div>
          <div class="text-justify">My desires wanted me to create something unique, something fun to use, and something with lasting value.<strong>&nbsp;I made this app.</strong></div>
        </div>
        <div class="flex child-pad-xs">
          <div class="text-assertive animate__fast animate__delay-3s animate__animated animate__bounce text-assertive"><i class="fas fa-circle fa-xs"></i></div>
          <div class="text-justify">I wanted to give my family and friends a sharing portal they can trust because it was built by me using technologies I trust.<br/><strong>&nbsp;And then I built the Acker Apple app.</strong></div>
        </div>
      </div>
    </div>
  </div>
</div>