html{
  background-color:#5e5e5e;
}

/** spacer for back to top */
.flex-grow-router-outlet > .ng-animating::after,
.flex-grow-router-outlet > :last-child::after{
  content: "";
  padding-bottom:20px;
}

.titlelessRouteWrap{
  position: relative;
  top:-50px;
}

html, .bg-fade
{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#303030+66,5e5e5e+100 */
background: #303030; /* Old browsers */
background: -moz-linear-gradient(top, #303030 66%, #5e5e5e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #303030 66%,#5e5e5e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #303030 66%,#5e5e5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#5e5e5e',GradientType=0 ); /* IE6-9 */
background-attachment: fixed;
}

@import "./custom-forms.scss";
