doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0")
    
    //- todo : should be toggled by isHtml5Mode
    //-base(href="/")
    
    //-link(rel="icon" href="favicon.ico?v=1.1")
    
    //- todo : url should be replaced at copy/paste
    link(href="assets/styles/styles.css" type="text/css" rel="stylesheet")
  body
    noscript(style="color:red") Javascript is required but is turned off on your device
    app
  //- todo : url should be replaced at copy/paste
  script(src="assets/scripts/index.js")