/* browser correction classes  */
  * {box-sizing:border-box}/* ease the pain of width management */
  button {font-size:1em}

  body,html{
    margin:0;padding:0;
    height:100%;width:100%;
    @extend .no-scroll-bars;
    background-color:#444;
  }
/* end: browser correction classes */

body,html{
  font-size:17px;
  color:#CCC;
  line-height:1.55;
  font-family: Montserrat, 'Open Sans', Helvetica;
  -webkit-font-smoothing: antialiased;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@include placeholder {
  color: #BBB;
  /*font-style: italic;*/
  font-weight: 600;
  font-size:0.8em;
}

@import "ack-angular/ack-angular.scss";

/* help ng fxs  */
.pos-abs-kids > *{
  position:absolute;width:100%;height:100%;
}

.height-full-router-wrap > :last-child,
.height-full-router-wrap > ng-component,
.height-full-router-wrap > .ng-animating,
.main-router-outlet-wrap > .ng-animating {
  height:100%;display:block;
  /*background-color:green;*/
}
.flex-grow-router-outlet > .ng-animating,
.flex-grow-router-outlet > :last-child,
.flex-grow-router-outlet > ng-component
{
  flex-grow: 1;
  @extend .flex-stacked;
  @extend .height-full;
}

.animate__animated.animate__delay-300ms {
  animation-delay: 0.3s;
}

.animate__animated.animate__delay-600ms {
  animation-delay: 0.6s;
}


@import "./app.scss";