
<div class="flex-center">
  <div><br/>
    <div *ngIf="watchVideo" [@fadeInOutUp]="1">
      <iframe style="width:100%:height:360px" width="100%" height="360" src="https://www.youtube.com/embed/230G8-TJccI?autohide=1&amp;playsinline=1&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="flex-wrap flex-1 flex-center max-width-400 child-margin-v"><strong class="flex1 text-2x"><a class="nowrap flex-valign-center no-a-style pad-h-2x pad-v-xs bg-assertive text-white text-center hover-text-white" (click)="watchVideo=!watchVideo"><i class="fas fa-play"></i>
          <div class="flex-1 pad-h">5 Minute Video</div><i class="fas fa-chevron-right"></i></a></strong><strong class="flex1 text-2x"><a class="nowrap flex-valign-center no-a-style pad-h-2x pad-v-xs bg-positive text-white text-center hover-text-white" routerLink="highlights"><i class="fas fa-file"></i>
          <div class="flex-1 pad-h">Resume Highlights</div><i class="fas fa-chevron-right"></i></a></strong><strong class="flex1 text-2x"><a class="nowrap flex-valign-center no-a-style pad-h-2x pad-v-xs bg-balanced text-white text-center hover-text-white" href="pdfUrl" target="_blank" [share-button]="{files:[AppData.wwwBasePath+'/assets/Acker Apple Resume.pdf'], subject:'Software Engineer Acker Apple', message:'Really good looking resume to be reviewed.

'}"><i class="fas fa-file-pdf"></i>
          <div class="flex-1 pad-h">Download Resume</div><i class="fas fa-chevron-right"></i></a></strong><strong class="flex1 text-2x"><a class="nowrap flex-valign-center no-a-style pad-h-2x pad-v-xs bg-royal text-white text-center hover-text-white" routerLink="demos"><i class="fas fa-cog"></i>
          <div class="flex-1 pad-h">Widget Demos</div><i class="fas fa-chevron-right"></i></a></strong></div><br/>
  </div>
</div>